span { 
    color: red !important;
}

.principal{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-size: 80px;
}

.botao{
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    transition: 1s;
    background-color: black;
}

.botao:hover{
    transform: scale(1.15);
}