.col{
    text-align: center;
}

span{
    text-decoration: none;
    color: red;
}

button{
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    transition: 1s;
    background-color: black;
}

.container{
    padding: 40px 0;
}

img{
    width: 50%;
    margin-bottom: 30px;
}