body{
    background-color: rgb(7 182 245);
}

a{
    text-decoration: none;
    font-family: inherit;   
    color: black;
}

.principal{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo{
    font-family: cursive;
    font-size: 60px;
    color: white;
}

.botao{
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    transition: 1s;
}

.botao:hover{
    transform: scale(1.15);
}

