<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/resultado.css" />
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col centro">
          <h1>Resultado</h1>
        </div>
      </div>

      <div class="row dois">
          <img src="../static/img/rostos/{{imagem}}" class="imagem"/>

          <p>O presente trabalho foi desenvolvido pelos alunos do quarto ano do curso de Informática Integrado ao Ensino Médio: Arthur Mattos, Arthur Bertoti, João Benetti, Julia Dapper, Luiza Klein e Kauê Piangers.  Essa obra tem como objetivo criticar a mecanização da linha de produção sem manutenção da jornada de trabalho, com base no artigo <strong>Marx e a indústria 4.0: trabalho, tecnologia e valor na era digital.</strong></p>
          <p>Com a nossa exposição procuramos salientar a relação entre trabalho, tecnologia e valor, sob a inflexão das contradições estabelecidas entre trabalho vivo e trabalho morto na era digital deste século XXI.</p>
          <p>Parafraseando o artigo citado, que diz que a fórmula da maquinaria é: não a diminuição relativa da jornada individual de trabalho – jornada esta que é parte necessária da jornada de trabalho –, mas a redução da quantidade de trabalhadores, isto é, das muitas jornadas paralelas, formadoras de uma jornada coletiva de trabalho, fundamental à constituição da maquinaria.</p>
      </div>


      <div class="row">
        <div class="col centro">
          <a href="/">
            <button>
              <span>Recomeçar</span>
            </button>
          </a>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
